DB_URL=jdbc:mysql://localhost:3310/hanoi_survey?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Ho_Chi_Minh
DB_USERNAME=root
DB_PASSWORD=root
SERVER_PORT=8080
UPLOAD_DIR=uploads
MYSQL_PORT=3310
ADMINER_PORT=8081
